header{
    display: flex;
    width: 100%;
    justify-content: space-between;
}
.nav-list{
    display: flex;
    gap: 20px;
}
a{
   text-decoration: none;
   color: black;
}
li{
    list-style: none;
}
.hero-img{
    width: 100%;
}
.hero-div{
    display: flex;
    width: 100%;
    justify-content: space-evenly;
    align-items: center;
}
.hero-div > img{
    width: 400px;
    height: 400px;
    border-radius: 100%;
    object-fit: cover;
}
.para-container{
    width: 30%;
    text-align: center;
}
.text-lg{
    font-size: 26px;
}
 .text-md{
    font-size: 16px;
 }
 .text-blue{
    color: rgb(73, 68, 139);
 }
 #hero{
    display: flex;
    flex-direction: column;
    gap: 30px;
 }  
 #about{
    display: flex;
    justify-content: center;
 }
 #contact{
    display: flex;
    width: 100%;
    flex-direction: column;
    align-items: center;
 }
 .text-md > a{
    color: blue;
 }
 .victory-img{
    width: 250px;
    border-radius: 10px;
    box-shadow:0 2px 4px black ;
    transition: 0.15s ease-in-out;
}
 .victory-img:hover{
    transform: translateY(10px);
 }
 #victory{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
 }
 footer{
   text-align: center;
   padding: 4px;
   width: 100%;
   margin-top: 60px;
 }